


<!-- Side navigation -->
<div class="sidenav">
        <h1>Groups</h1>

        <ul> <%= button_to "New group", new_group_path, :method => :get %> <br /></ul>

            <ul> <%= button_to "Plans", plans_path , :method => :get %> <br /></ul>

            <ul> <%= button_to "Account", account_path(session[:user_id]) , :method => :get %> </ul>
           
      </div>
      
      <!-- Page content -->
      <div class="main">
                    
            <ul>  <% @groups.each do |g|%></ul>

            <ul> <%= link_to g.name, group_path(g)%> <br /></ul>
            
            <ul> <% end %></ul>
            
  
  </div>
